body{
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}
h3{
    color: #093;
    font-size: 36;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.oblique{
    font-style: oblique;
}
.redText{
    color: red;
}